#productNavigator {
	PADDING-RIGHT: 2ex; PADDING-LEFT: 2ex; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 1.4ex; MARGIN: 5ex 0px 0px; WIDTH: 100%; CURSOR: default; PADDING-TOP: 1.4ex; TEXT-ALIGN: center
}
#productNavigator TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
#productNavigator TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 0.7em/1.15em Tahoma, Arial, sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#productNavigator DIV {
	
}
#productNavigator P {
	PADDING-RIGHT: 1.75em; PADDING-LEFT: 1.75em; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em! important; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#productNavigator P  {
	DISPLAY: inline-block; WHITE-SPACE: nowrap
}
#productNavigator A {
	CURSOR: pointer; TEXT-DECORATION: none
}
#productNavigator P EM {
	MARGIN: 0px 2px; FONT-STYLE: normal
}
#productNavigator P SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
#productNavigator P EM SPAN.nohref {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
#productNavigator P EM A {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
#productNavigator P EM STRONG {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
#productNavigator P SPAN.separator {
	MARGIN: 0px 2px
}
#productNavigator P SPAN.hellip {
	MARGIN: 0px 2px
}
#productNavigator P SPAN.separatorTitle {
	MARGIN: 0px 0.2em 0px 0.15em
}
#productNavigator P SPAN {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#productNavigator P EM A {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#productNavigator P EM STRONG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#productNavigator P SPAN.separatorTitle {
	BORDER-LEFT-COLOR: #f5f5f5; BORDER-BOTTOM-COLOR: #f5f5f5; BORDER-TOP-COLOR: #f5f5f5; BORDER-RIGHT-COLOR: #f5f5f5
}
#productNavigator P SPAN.separator {
	BORDER-LEFT-COLOR: #f5f5f5; BORDER-BOTTOM-COLOR: #f5f5f5; BORDER-TOP-COLOR: #f5f5f5; BORDER-RIGHT-COLOR: #f5f5f5
}
#productNavigator P SPAN.hellip {
	BORDER-LEFT-COLOR: #f5f5f5; BORDER-BOTTOM-COLOR: #f5f5f5; BORDER-TOP-COLOR: #f5f5f5; BORDER-RIGHT-COLOR: #f5f5f5
}
#productNavigator P EM A {
	COLOR: blue
}
#productNavigator P EM A:visited {
	COLOR: blue
}
#productNavigator P EM A:hover {
	BORDER-LEFT-COLOR: blue; BACKGROUND: blue; BORDER-BOTTOM-COLOR: blue; COLOR: white; BORDER-TOP-COLOR: blue; BORDER-RIGHT-COLOR: blue
}
#productNavigator P EM SPAN.nohref {
	COLOR: #999
}
#productNavigator P SPAN.separator {
	COLOR: #999
}
#productNavigator DIV A {
	COLOR: blue
}
#productNavigator DIV A:visited {
	COLOR: blue
}
#productNavigator DIV A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
