@import url( /images/styles-profile.css );
@import url( /images/styles-navigator.css );
BODY {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; OVERFLOW-Y: auto; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
A {
	COLOR: #16a200
}
#pageBody A:visited {
	COLOR: #49b638
}
A:hover {
	COLOR: #060
}
#pageBody A:hover {
	COLOR: #060
}
.underlineOver A {
	TEXT-DECORATION: none
}
.underlineOver A:hover {
	TEXT-DECORATION: underline
}
A.anchor {
	COLOR: #333
}
:unknown {
	outline: none
}
H1 {
	FONT-SIZE: 2em
}
H2 {
	FONT-SIZE: 1.4em
}
H3 {
	FONT-SIZE: 1.17em
}
H4 {
	FONT-SIZE: 1em
}
H5 {
	FONT-SIZE: 1em
}
H6 {
	FONT-SIZE: 1em
}
H1 {
	COLOR: #333
}
H1 A.anchor {
	COLOR: #333
}
H2 {
	COLOR: #5c5c5c
}
H3 {
	COLOR: #5c5c5c
}
H4 {
	COLOR: #5c5c5c
}
H5 {
	COLOR: #5c5c5c
}
H6 {
	COLOR: #5c5c5c
}
H2 A.anchor {
	COLOR: #5c5c5c
}
H3 A.anchor {
	COLOR: #5c5c5c
}
H4 A.anchor {
	COLOR: #5c5c5c
}
H5 A.anchor {
	COLOR: #5c5c5c
}
H6 A.anchor {
	COLOR: #5c5c5c
}
HR {
	BACKGROUND: #eee; COLOR: #eee; HEIGHT: 1px
}
.spacerGlobal {
	DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 0px -2px; OVERFLOW: hidden; HEIGHT: 2px
}
.spacerColumn {
	DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 0px -2px; OVERFLOW: hidden; HEIGHT: 2px
}
.spacerGlobal {
	WIDTH: 999px
}
.spacerColumn {
	WIDTH: 240px
}
.gray {
	COLOR: #808080! important
}
.gray  {
	COLOR: #808080! important
}
.gray A {
	COLOR: #808080! important
}
A.gray:hover {
	COLOR: #16a200! important
}
.gray A:hover {
	COLOR: #16a200! important
}
.gray A:hover  {
	COLOR: #16a200! important
}
.silver {
	COLOR: #999! important
}
.silver  {
	COLOR: #999! important
}
.silver A {
	COLOR: #999! important
}
A.silver:hover {
	COLOR: #16a200! important
}
.silver A:hover {
	COLOR: #16a200! important
}
.silver A:hover  {
	COLOR: #16a200! important
}
.white {
	COLOR: #fff! important
}
.white  {
	COLOR: #fff! important
}
.white A {
	COLOR: #fff! important
}
A.white:hover {
	COLOR: #b5faaa! important
}
.white A:hover {
	COLOR: #b5faaa! important
}
.white A:hover  {
	COLOR: #b5faaa! important
}
#pageHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 29px; WIDTH: 100%; CURSOR: default; PADDING-TOP: 12px
}
#register {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 13px; PADDING-TOP: 0px
}
#register TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#register TD.separator {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 8px
}
#register TD.cancel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#language {
	Z-INDEX: 102; POSITION: relative; HEIGHT: 22px
}
#language A {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 26px; HEIGHT: 22px; TEXT-ALIGN: center
}
#language A.current {
	BACKGROUND: #77cc68; CURSOR: default
}
#language SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#language IMG {
	
}
#pageHeader .rectangle {
	Z-INDEX: 101; BACKGROUND: url(/images/menu-item.gif) #41a430 repeat-x 0px 0px; MARGIN: 0px 0px -2px; OVERFLOW: hidden; POSITION: relative; TOP: -2px; HEIGHT: 45px
}
#pageMenu {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; BACKGROUND: url(/images/menu-item.gif) no-repeat right -450px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.menuItem A {
	DISPLAY: block; BACKGROUND: url(/images/menu-item.gif) #41a430 repeat-x 0px 0px; FONT: 15px/17px Arial, sans-serif; OVERFLOW: hidden; WIDTH: 100%; COLOR: #fff! important; WHITE-SPACE: nowrap; HEIGHT: 45px; TEXT-DECORATION: none
}
.menuItem SPAN {
	DISPLAY: block; BACKGROUND: url(/images/menu-item.gif) no-repeat 0px -45px
}
.menuItem STRONG {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: normal; BACKGROUND: url(/images/menu-item.gif) no-repeat right -90px; PADDING-BOTTOM: 88px; PADDING-TOP: 14px
}
.menuItemFirst STRONG {
	PADDING-RIGHT: 17px! important; PADDING-LEFT: 18px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.screen1024 .menuItem STRONG {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; PADDING-BOTTOM: 88px; PADDING-TOP: 14px
}
.screen1024 .menuItemFirst STRONG {
	PADDING-RIGHT: 15px! important; PADDING-LEFT: 16px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.menuItemNow {
	
}
.menuItemNow A {
	BACKGROUND-POSITION: 0px -135px; COLOR: #5ed233! important; BACKGROUND-COLOR: #2f2f2f! important
}
#homepage .menuItemNow A {
	CURSOR: default
}
.menuItemNow SPAN {
	BACKGROUND-POSITION: 0px -180px
}
.menuItemNow STRONG {
	BACKGROUND-POSITION: right -225px; PADDING-TOP: 15px
}
.menuItem EM {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/images/home.gif) no-repeat center top; PADDING-BOTTOM: 0px; PADDING-TOP: 88px
}
.menuItem A:active EM {
	BACKGROUND-POSITION: center 1px
}
.menuItemNow EM {
	BACKGROUND-POSITION: center -45px
}
.menuItemNow A:active EM {
	BACKGROUND-POSITION: center top
}
.menuItem IMG {
	VISIBILITY: hidden
}
.menuItem A:hover {
	BACKGROUND-POSITION: 0px -270px; BACKGROUND-COLOR: #6eb962
}
.menuItem A:hover SPAN {
	BACKGROUND-POSITION: 0px -315px
}
.menuItem A:active {
	BACKGROUND-POSITION: 0px -270px; BACKGROUND-COLOR: #6eb962
}
.menuItem A:active SPAN {
	BACKGROUND-POSITION: 0px -360px
}
.menuItem A:active STRONG {
	BACKGROUND-POSITION: right -405px; PADDING-TOP: 15px
}
#search {
	BACKGROUND: url(/images/search.gif) #fff no-repeat 0px 0px; MARGIN: 8px 8px 0px; WIDTH: 196px; WHITE-SPACE: nowrap; HEIGHT: 28px; TEXT-ALIGN: left
}
#searchForm {
	BACKGROUND: url(/images/search.gif) no-repeat right -28px; OVERFLOW: hidden; WIDTH: 196px; CURSOR: default; HEIGHT: 28px
}
#searchInput {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#searchInput INPUT {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 157px; CURSOR: text; COLOR: #191919; BOTTOM: -6px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; POSITION: relative
}
#searchButton {
	VERTICAL-ALIGN: top; HEIGHT: 28px
}
#searchButton INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 28px; CURSOR: pointer; COLOR: #191919; PADDING-TOP: 0px; HEIGHT: 28px
}
#pageHeader .layout {
	BACKGROUND: url(/images/1.gif) #010101 repeat-x 50% top; MARGIN: 0px 0px 1px
}
#telephone {
	MARGIN: 0px 19px 0px 0px; OVERFLOW: hidden; HEIGHT: 35px
}
#telephone TD {
	HEIGHT: 35px
}
#telephoneIcon {
	BACKGROUND: url(/images/telephone.png); MARGIN: 0px 3px 0px 15px; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 18px
}
#telephoneNumber {
	FONT: 23px/24px Arial, sans-serif; COLOR: #fff
}
#newsTicker {
	PADDING-RIGHT: 25px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px
}
#newsTicker  {
	CURSOR: default! important; WHITE-SPACE: nowrap
}
#newsTicker A {
	CURSOR: pointer! important; TEXT-DECORATION: none
}
#newsTicker A:hover {
	TEXT-DECORATION: underline
}
.newsTicker {
	FILTER: progid:DXImageTransform.Microsoft.Slide(Slidestyle="Push", Bands="1", Duration="1"); FONT: 14px/16px Arial, sans-serif; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 1.4em
}
#basket {
	MARGIN: 0px 8px
}
#basket TD {
	PADDING-RIGHT: 7px; PADDING-LEFT: 8px; FONT-SIZE: 12px; BACKGROUND: url(/images/1.gif) no-repeat left 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#basket TD.first {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#basket TD.cancel {
	PADDING-RIGHT: 2px
}
.filled#basket TD.cancel {
	PADDING-RIGHT: 7px
}
#basket .white {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#basketTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 23px; BACKGROUND: url(/images/basket-filled.gif) no-repeat 0px 9px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 35px
}
.filled#basket #basketTitle {
	BACKGROUND-POSITION: 0px -91px
}
#basketTitle SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 88px; WIDTH: 100%; COLOR: #76e863! important; PADDING-TOP: 10px
}
#basketTitle A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 88px; WIDTH: 100%; COLOR: #76e863! important; PADDING-TOP: 10px
}
#basketTitle A:hover {
	COLOR: #b5faaa! important
}
#basket #checkout {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; WIDTH: 1px; PADDING-TOP: 0px
}
#checkout A {
	DISPLAY: none; OVERFLOW: hidden; WIDTH: 78px; HEIGHT: 22px
}
.filled#basket #checkout {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 8px! important; BACKGROUND: url(/images/1.gif) no-repeat left 11px; PADDING-BOTTOM: 0px! important; WIDTH: auto; PADDING-TOP: 6px! important
}
.filled#basket #checkout A {
	DISPLAY: block
}
#logotype {
	DISPLAY: block; MARGIN: 0px 19px 0px 0px; OVERFLOW: hidden; HEIGHT: 234px
}
#logotype SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 26px; PADDING-TOP: 28px; TEXT-ALIGN: center
}
#logotype A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 26px; PADDING-TOP: 28px; TEXT-ALIGN: center
}
#logotype IMG {
	VERTICAL-ALIGN: bottom
}
#cover {
	DISPLAY: block; BACKGROUND: url(/images/blank.gif) #f9f9f9 no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 234px
}
#cover SPAN {
	VISIBILITY: hidden
}
#pageContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 28px; MARGIN: 0px 29px; WIDTH: 100%; PADDING-TOP: 28px
}
#homepage #pageContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 28px; PADDING-TOP: 28px
}
.caption {
	FONT-WEIGHT: normal; FONT-SIZE: 1.17em; MARGIN: 0px 0px 1em; TEXT-TRANSFORM: uppercase; COLOR: #858585
}
TD.border {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; BORDER-BOTTOM: #dadada 1px solid
}
#pageBody {
	PADDING-RIGHT: 19px; PADDING-LEFT: 19px; PADDING-BOTTOM: 18px; WIDTH: 100%; PADDING-TOP: 18px
}
#pageFooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 29px; MARGIN: 0px 29px; WIDTH: 100%; CURSOR: default; PADDING-TOP: 0px
}
#pageFooter A {
	WHITE-SPACE: nowrap
}
#pageFooter IMG {
	VERTICAL-ALIGN: bottom
}
#pageFooter .rectangle {
	MARGIN: 0px 0px 15px
}
#pageFooter .rectangle TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #070707; PADDING-BOTTOM: 9px; PADDING-TOP: 7px
}
#pageFooter .rectangle TD {
	COLOR: #b7b7b7
}
#pageFooter .rectangle A {
	COLOR: #b7b7b7
}
#pageFooter .rectangle A:hover {
	COLOR: #b5faaa
}
#pageNavigation {
	FONT-SIZE: 0.95em; MARGIN: 0px 10px; LINE-HEIGHT: 1.5em
}
#pageNavigation SPAN {
	PADDING-RIGHT: 9px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(/images/2.gif) no-repeat right 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 8px 0px 0px; PADDING-TOP: 0px
}
#pageNavigation SPAN.last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#update {
	MARGIN: 0px 10px; LINE-HEIGHT: 1.5em
}
#copyright {
	MARGIN: 0px 0px 0px 10px
}
#hintSource {
	
}
#hintCopy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px 0.45em 0px 0px; COLOR: #808080; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px
}
#hintName {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; CURSOR: wait; COLOR: #b0b0b0; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px; TEXT-DECORATION: none! important
}
.on#hintSource #hintName {
	BACKGROUND: url(/images/underline.gif) no-repeat left bottom; CURSOR: pointer; COLOR: #808080
}
.on#hintSource #hintName:hover {
	BACKGROUND-POSITION: -500px bottom; COLOR: #16a200
}
.on#hintSource .now#hintName {
	BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: default; COLOR: #808080! important
}
#hint {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 7001; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px -15px; OVERFLOW: hidden; WIDTH: 388px; CURSOR: default; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
#hintClose {
	FONT-SIZE: 1px; BACKGROUND: url(/images/close_g.gif) no-repeat center 4px; MARGIN: 5px 0px 0px 367px; OVERFLOW: hidden; WIDTH: 15px; CURSOR: pointer; POSITION: absolute; HEIGHT: 15px
}
.on#hintClose {
	BACKGROUND-POSITION: center -46px
}
#hint_t {
	FONT-SIZE: 1px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 388px; HEIGHT: 4px
}
#hint_b {
	FONT-SIZE: 1px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 388px; HEIGHT: 4px
}
#hint_b {
	HEIGHT: 5px
}
#hint_t EM {
	DISPLAY: block; BACKGROUND: url(/images/skin.png) no-repeat left top; WIDTH: 388px; HEIGHT: 509px
}
#hint_b EM {
	DISPLAY: block; BACKGROUND: url(/images/skin.png) no-repeat left top; WIDTH: 388px; HEIGHT: 509px
}
#hint_t EM {
	MARGIN: -500px 0px 0px
}
#hint_b EM {
	MARGIN: -504px 0px 0px
}
#hint_c {
	BACKGROUND: url(/images/skin.png) no-repeat left top; WIDTH: 388px
}
#hintContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 10px; WIDTH: 100%; PADDING-TOP: 7px; TEXT-ALIGN: left
}
#hintContent DIV {
	COLOR: #fff! important
}
#hintContent A {
	COLOR: #fff! important
}
#hintContent A:hover {
	COLOR: #b5faaa! important
}
#hintContact {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.17em; PADDING-BOTTOM: 0.75em; PADDING-TOP: 0px; HEIGHT: 1px
}
#hintContent .rectangle {
	MARGIN: 0.75ex 0px 3ex
}
#hint_c A {
	POSITION: relative
}
#profile {
	PADDING-RIGHT: 2.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#profileAddress {
	MARGIN: 0px 2em 0px 0px
}
#profileContacts {
	MARGIN: 0.65em 0px 0px
}
#profileRegistration {
	MARGIN: 1.1ex 0px 0px
}
#addthis {
	MARGIN: 14px 10px 0px
}
#cards {
	MARGIN: 0px 29px; OVERFLOW: hidden; HEIGHT: 22px
}
#brick {
	MARGIN: 0px 10px 0px 0px; OVERFLOW: hidden; HEIGHT: 17px
}
#hsbc {
	MARGIN: 13px 10px 0px 0px; OVERFLOW: hidden
}
#pageList {
	MARGIN: 0px 19px 0px 0px
}
#pageList .caption {
	PADDING-RIGHT: 14px; DISPLAY: block; PADDING-LEFT: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
#pageList UL {
	MARGIN: 0px; WIDTH: 100%; HEIGHT: 1px
}
#pageList UL UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 1ex; PADDING-TOP: 0.75ex
}
#pageList UL UL UL {
	PADDING-RIGHT: 0px; PADDING-BOTTOM: 1.25ex
}
#pageList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 1px
}
#pageList LI SPAN {
	BORDER-TOP: #fff 1px solid; DISPLAY: block; BACKGROUND: url(/images/2v.gif) #f8f8f8 repeat-y right 50%; WIDTH: 100%; BORDER-BOTTOM: #c5c5c5 1px solid; HEIGHT: 1px
}
#pageList LI LI SPAN {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 9px; BORDER-TOP: medium none; PADDING-LEFT: 9px; BACKGROUND: url(/images/1.gif) no-repeat 0px 1.4ex; PADDING-BOTTOM: 0.25ex; MARGIN: 1px 0px; BORDER-LEFT: medium none; PADDING-TOP: 0.25ex; BORDER-BOTTOM: medium none
}
#pageList LI LI LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: url(/images/marker-ul-ul.gif) no-repeat 0px 1.1ex
}
#pageList LI LI LI LI SPAN {
	BACKGROUND: url(/images/marker-ul-ul-ul.gif) no-repeat 0px 1.5ex
}
#pageList LI LI LI LI LI LI SPAN {
	BACKGROUND: url(/images/marker-ul-ul-ul.gif) no-repeat 0px 1.5ex
}
#pageList LI LI LI LI LI SPAN {
	BACKGROUND: url(/images/marker-ul-ul.gif) no-repeat 0px 1.1ex
}
#pageList LI LI LI LI LI LI LI SPAN {
	BACKGROUND: url(/images/marker-ul-ul.gif) no-repeat 0px 1.1ex
}
#pageList UL STRONG {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 1px
}
#pageList UL EM {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 1px
}
#pageList UL UL STRONG {
	DISPLAY: inline
}
#pageList UL EM {
	DISPLAY: inline
}
#pageList UL A {
	PADDING-RIGHT: 14px; DISPLAY: block; PADDING-LEFT: 14px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #333; PADDING-TOP: 4px; HEIGHT: 1px; TEXT-DECORATION: none
}
#pageList UL A:hover {
	COLOR: #16a200
}
#pageList UL UL A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; WIDTH: auto; COLOR: #333; PADDING-TOP: 0px; HEIGHT: auto
}
#pageList UL UL A:hover {
	COLOR: #16a200; TEXT-DECORATION: underline
}
#pageList EM {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
#pageList STRONG A {
	CURSOR: default; COLOR: #333! important; TEXT-DECORATION: none! important
}
#productNavigator {
	BACKGROUND: #f5f5f5; MARGIN: 24px 0px 0px
}
#productNavigator P SPAN {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc
}
#productNavigator P EM A {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc
}
#productNavigator P EM STRONG {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc
}
#productNavigator P SPAN.separatorTitle {
	BORDER-LEFT-COLOR: #f5f5f5; BORDER-BOTTOM-COLOR: #f5f5f5; BORDER-TOP-COLOR: #f5f5f5; BORDER-RIGHT-COLOR: #f5f5f5
}
#productNavigator P SPAN.separator {
	BORDER-LEFT-COLOR: #f5f5f5; BORDER-BOTTOM-COLOR: #f5f5f5; BORDER-TOP-COLOR: #f5f5f5; BORDER-RIGHT-COLOR: #f5f5f5
}
#productNavigator P SPAN.hellip {
	BORDER-LEFT-COLOR: #f5f5f5; BORDER-BOTTOM-COLOR: #f5f5f5; BORDER-TOP-COLOR: #f5f5f5; BORDER-RIGHT-COLOR: #f5f5f5
}
#productNavigator P EM A {
	COLOR: #16a200
}
#productNavigator P EM A:visited {
	COLOR: #16a200
}
#productNavigator P EM A:hover {
	BORDER-LEFT-COLOR: #16a200; BACKGROUND: #16a200; BORDER-BOTTOM-COLOR: #16a200; COLOR: #fff; BORDER-TOP-COLOR: #16a200; BORDER-RIGHT-COLOR: #16a200
}
#productNavigator P EM SPAN.nohref {
	COLOR: #999
}
#productNavigator P SPAN.separator {
	COLOR: #999
}
#productNavigator DIV A {
	COLOR: #16a200
}
#productNavigator DIV A:visited {
	COLOR: #16a200
}
#productNavigator DIV A:hover {
	COLOR: #060; TEXT-DECORATION: underline
}
#navigatorHome {
	
}
#navigatorCaption {
	Z-INDEX: 102; POSITION: relative
}
#navigatorCaption P {
	BACKGROUND: url(/images/3.gif) #f3f1f1 repeat-x 0px 0px; MARGIN: 0px; OVERFLOW: hidden; CURSOR: pointer; COLOR: #16a200; HEIGHT: 37px
}
#navigatorCaption SPAN {
	DISPLAY: block; BACKGROUND: url(/images/3.gif) no-repeat 0px -37px
}
#navigatorCaption STRONG {
	PADDING-RIGHT: 19px; DISPLAY: block; PADDING-LEFT: 19px; FONT-WEIGHT: normal; FONT-SIZE: 1.17em; BACKGROUND: url(/images/3.gif) no-repeat right -74px; PADDING-BOTTOM: 88px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 10px
}
#navigatorCaption .first SPAN {
	BACKGROUND-IMAGE: url(/images/blank.gif)
}
#navigatorCaption .last STRONG {
	BACKGROUND-IMAGE: url(/images/blank.gif)
}
#navigatorCaption P.current {
	BACKGROUND: url(/images/4.gif) #fff repeat-x 0px 0px; CURSOR: default; COLOR: #858585
}
#navigatorCaption P.current SPAN {
	BACKGROUND: url(/images/4.gif) no-repeat 0px -37px
}
#navigatorCaption P.current STRONG {
	BACKGROUND: url(/images/4.gif) no-repeat right -37px
}
#navigatorChanger {
	BORDER-RIGHT: #dadada 1px solid; PADDING-RIGHT: 19px; BORDER-TOP: #dadada 1px solid; PADDING-LEFT: 19px; Z-INDEX: 101; BACKGROUND: #fff; PADDING-BOTTOM: 19px; MARGIN: -1px 0px 0px; BORDER-LEFT: #dadada 1px solid; WIDTH: 100%; PADDING-TOP: 19px; BORDER-BOTTOM: #dadada 1px solid; HEIGHT: 1px
}
#navigatorChanger .scroll {
	PADDING-RIGHT: 15px; OVERFLOW-Y: auto; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #fff; PADDING-BOTTOM: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #e2e2e3; SCROLLBAR-SHADOW-COLOR: #e2e2e3; SCROLLBAR-3DLIGHT-COLOR: #fff; SCROLLBAR-ARROW-COLOR: #8a8a8a; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #fff; SCROLLBAR-DARKSHADOW-COLOR: #fff; SCROLLBAR-BASE-COLOR: #fff; HEIGHT: 277px
}
#rootHome {
	
}
#rootHome H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 2.5em; LEFT: -1px; MARGIN: -2px 0px 0.75ex; LINE-HEIGHT: 1em; POSITION: relative
}
#rootHome P {
	FONT-SIZE: 14px; LINE-HEIGHT: 17px
}
#rootCategories {
	MARGIN: 0px 19px 0px 0px; WIDTH: 100%
}
#rootCategories .caption {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
.categoryItem {
	CURSOR: default
}
.categoryCaption {
	BORDER-TOP: #fff 1px solid; BACKGROUND: url(/images/2v.gif) #f8f8f8 repeat-y right 50%; BORDER-BOTTOM: #c5c5c5 1px solid
}
.categoryName {
	PADDING-RIGHT: 14px; DISPLAY: block; PADDING-LEFT: 14px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; COLOR: #333! important; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.categoryName:hover {
	COLOR: #16a200! important
}
.categoryArrow {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(/images/1arrow.gif) no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 31px; HEIGHT: 23px
}
.click {
	BACKGROUND-POSITION: 0px -23px
}
.categoryItem UL {
	DISPLAY: none; BACKGROUND: #fff; FILTER: progid:DXImageTransform.Microsoft.Fade(Overlap="0.75", Duration="1.0"); MARGIN: 0.75ex 15px 1ex; HEIGHT: 1px
}
.show UL {
	DISPLAY: block
}
.categoryItem LI {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; BACKGROUND: url(/images/1market.gif) no-repeat 0px 1.2ex; PADDING-BOTTOM: 0px; MARGIN: 0.25ex 0px; PADDING-TOP: 0px
}
.categoryItem UL A {
	DISPLAY: block; WIDTH: 100%; COLOR: #333! important
}
.categoryItem UL A:hover {
	COLOR: #16a200! important
}
#chat {
	MARGIN: 26px 19px 0px 0px; WIDTH: 100%
}
#chat A {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; DISPLAY: block; BORDER-LEFT: #dadada 1px solid; BORDER-BOTTOM: #dadada 1px solid; TEXT-ALIGN: center
}
#chat IMG {
	VERTICAL-ALIGN: bottom
}
#popular {
	MARGIN: 24px 19px 0px 0px; WIDTH: 100%
}
#popular UL {
	FONT-SIZE: 1.1em; MARGIN: 0px
}
#popular LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5ex; PADDING-TOP: 0px
}
.messageItem {
	BACKGROUND: #ffd5d5; MARGIN: 22px 19px 0px 0px; WIDTH: 100%
}
.messageItem .rectangle {
	PADDING-RIGHT: 16px; PADDING-LEFT: 51px; PADDING-BOTTOM: 0px; PADDING-TOP: 16px
}
.messageItem .rectangle {
	PADDING-RIGHT: 16px; PADDING-LEFT: 51px; BACKGROUND: url(/images/restrictions.gif) no-repeat 10px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 16px
}
.messageItem STRONG {
	DISPLAY: block; FONT-SIZE: 1.1em; MARGIN: 0px 0px 0.5ex; TEXT-TRANSFORM: uppercase; COLOR: #e00035
}
.messageItem P {
	FONT-SIZE: 0.95em; MARGIN: 0px; COLOR: #474343; LINE-HEIGHT: 1.1em
}
.click P.reduced {
	DISPLAY: none
}
.messageItem P.full {
	DISPLAY: none
}
.click P.full {
	DISPLAY: block
}
.messageItem .more {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.messageItem .more A {
	PADDING-RIGHT: 5px; DISPLAY: inline-block; PADDING-LEFT: 5px; FONT-SIZE: 0.85em; BACKGROUND: #fbb7be; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 0px auto; TEXT-TRANSFORM: uppercase; COLOR: #474041! important; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#rootRestrictions {
	MARGIN-BOTTOM: -12px
}
#rootWarning {
	BACKGROUND: #faf5d4
}
#rootWarning .rectangle {
	BACKGROUND: url(/images/warning.gif) no-repeat 8px 6px
}
#rootWarning STRONG {
	COLOR: #b8a000
}
#rootWarning .more A {
	BACKGROUND: #f2e8a7
}
.rootAds {
	MARGIN: 0px 0px -19px 19px; WIDTH: 100%
}
.adsItem {
	MARGIN: 0px 0px 19px
}
.adsItem A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 220px; HEIGHT: 167px
}
.adsItem IMG {
	
}
#rootNews {
	
}
#rootNews H2 {
	MARGIN: 0px
}
#rootProducts {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 24px
}
#rootProducts H2 {
	MARGIN: 0px
}
#rootProducts .small SPAN {
	PADDING-RIGHT: 7px; PADDING-LEFT: 0px; BACKGROUND: url(/images/3separator.gif) no-repeat right 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 6px 0px 0px; PADDING-TOP: 0px
}
.productArrow {
	DISPLAY: block; BACKGROUND: url(/images/2arrow.gif) #dadada no-repeat 0px center; MARGIN: 0px 14px 0px 0px; OVERFLOW: hidden; WIDTH: 24px; CURSOR: pointer; HEIGHT: 275px
}
#productArrow_l {
	
}
#productArrow_r {
	BACKGROUND-POSITION: -24px center; MARGIN: 0px 0px 0px 14px
}
#rootCarousel {
	OVERFLOW: hidden; WIDTH: 1px; POSITION: absolute; TEXT-ALIGN: left
}
#carouselItem {
	
}
#carouselItem UL {
	
}
#carouselItem LI {
	BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 216px; PADDING-TOP: 0px
}
#carouselItem .productItem {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; PADDING-BOTTOM: 14px; PADDING-TOP: 14px
}
#rootCarousel {
	HEIGHT: 275px
}
#carouselItem LI {
	HEIGHT: 275px
}
#carouselRubber {
	HEIGHT: 275px
}
#chartDonation {
	FLOAT: right; WIDTH: 230px; MARGIN-RIGHT: 32px; HEIGHT: 250px
}
TABLE.jqplot-table-legend {
	FONT-SIZE: 1em! important
}
TABLE.jqplot-cursor-legend {
	FONT-SIZE: 1em! important
}
#warning {
	BORDER-RIGHT: #ccc 0px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 0px dashed; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 2ex 0px 0px; BORDER-LEFT: #ccc 0px dashed; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 0px dashed
}
#warning  {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, sans-serif
}
.divPromotionCodeBox {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
